---
import Layout from '../layouts/Layout.astro';

const recetas = [
  {
    descripcion: "Receta  para el verano",
    imagen: "/images/recetas/Salmorejoreceta.png",
    
  
    
  },
  {
    descripcion: "Genial plato de cuchara",
    imagen: "/images/recetas/Cardcalabacin.png",
  },
  
  {
    descripcion: "Receta tracional ",
    imagen: "/images/recetas/lentejasreceta.png",
  },
];
---

<Layout title="Recetas - MAMBO RECETAS">
  <h1 class="text-3xl font-bold text-sky-600 mb-8 text-center">Nuestras Recetas</h1>
  
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {recetas.map(receta => (
      <div class="bg-white rounded-lg shadow-md overflow-hidden">
        <img src={receta.imagen} alt={receta.descripcion} class="w-full h-100
         object-cover"/>
        <div class="p-4">
          <h2 class="text-xl font-semibold text-sky-600 mb-2">{receta.descripcion}</h2>
         
        </div>
      </div>
    ))}
  </div>
</Layout>