---
// filepath: c:\NuevaMamboApp\MAMBOAPP\src\components\Footer.astro
const currentYear = new Date().getFullYear();
---
<footer class="bg-sky-700 text-white shadow-lg center py-4">
  <div class="container mx-auto text-center">
    <p class="text-sm">Cristina Egusquiza <a href="https://github.com/cristinaegus" class="text-white hover:underline">GitHub</a></p>
  <p>&copy; {currentYear} Mambo Recetas. Todos los derechos reservados.</p>
</footer>